useDynLib(PTT)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(utils, head, tail)
importFrom(grDevices, colorRampPalette)
importFrom(graphics, axis, layout, mtext, par, plot,
             points, rect, smoothScatter, title)
import(mvtnorm,grid,optimx, igraph)
export(apt, opt, cond.apt, cond.opt, plot.part, plot.roc)


